@import url(https://db.onlinewebfonts.com/c/8bdf9153512e81954b0d2b7167eab648?family=EloquentJFRegularPro);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --branco: #E6E4E0;       
  --azulescuro: #081826;
  --azulciano: #43D3E6;
  --azulelegante: #0B536F;
  --creme: #FFFCEA;
  --ouro: #FCDA43;
  --amarelo: #FFC66B;
  --laranja: #F3B653;
  --marrom: #804A28;
  --preto: #000000;
}

body {
  color: var(--preto);
  background: var(--azulescuro);
}
